.home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 4rem;
    text-align: justify;
    color:black;
    /* background: linear-gradient(90deg, rgb(145, 174, 215) 0%, rgb(0, 0, 0) 100%); */
    background: rgb(40, 40, 40 );
  }
