.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  h1 {
    margin: 0;
  }
  
  nav {
    margin-top: 1rem;
  }
  
  .nav-links {
    list-style-type: none;
    font-size: 15px;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: yellow;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  